# Pandas Dataframes
* DF maps Column name to series of the data
    
    * Constn from Series
    Collection of series objects
    * from list if dicts
    
    Fills in NaN for missing data
    
    * From dictionary of series objects
    * from 2-D ndarray
    * from numpy structured array

In [1]:
# importing pandas
import pandas as pd
import numpy as np

In [2]:
# series as dictionary

pop_dict = {'Ca':123456,
            'Ca1':123456,
            'Ca2':123456,
            'Ca3':123456,
            'Ca4':123456,
           }
pop = pd.Series(pop_dict);

In [ ]:
# series as dictionary

pop_dict = {'Ca':123456,
            'Ca1':123456,
            'Ca2':123456,
            'Ca3':123456,
            'Ca4':123456,
           }
states = pd.DataFrame('State',);

In [7]:
data = [{
    'a':i,
    'b':i,
    'n':i,
        } for i in range(4)]
pd.DataFrame(data)

   a  b  n
0  0  0  0
1  1  1  1
2  2  2  2
3  3  3  3

In [8]:
pd.DataFrame({'a':1, 'b': 2}, {'b':3, 'c':4})

   a  b
b  1  2
c  1  2

In [9]:
# 2d numpy array to create pandas df

pd.DataFrame(np.random.rand(3,2),
            columns=['doo','sar'],
            index=['a','b','c'])

        doo       sar
a  0.520487  0.183483
b  0.487232  0.067456
c  0.665899  0.819175

In [10]:
A = np.zeros(3, dtype=[('a', 'i8'), ('b', 'f8')])
pd.DataFrame(A)

   a    b
0  0  0.0
1  0  0.0
2  0  0.0